<form [formGroup]="clientForm">
  <tui-input formControlName="firstName" tuiTextfieldSize="s"></tui-input>
  <tui-input formControlName="lastName" tuiTextfieldSize="s"></tui-input>
  <tui-input formControlName="adresse" tuiTextfieldSize="s"></tui-input>
  <tui-input formControlName="zipCode" tuiTextfieldSize="s"></tui-input>
  <tui-input formControlName="city" tuiTextfieldSize="s"></tui-input>
  <tui-input formControlName="country" tuiTextfieldSize="s"></tui-input>
  <tui-input formControlName="phone" tuiTextfieldSize="s"></tui-input>
  <tui-input formControlName="email" tuiTextfieldSize="s"></tui-input>
  <tui-input formControlName="gender" tuiTextfieldSize="s"></tui-input>
  <tui-input formControlName="login" tuiTextfieldSize="s"></tui-input>
  <tui-input formControlName="password" tuiTextfieldSize="s"></tui-input>
  <tui-input formControlName="passwordConfirm" tuiTextfieldSize="s"></tui-input>
</form>
